@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

/* CONFGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #f5f7ff;
}

/* CARD */
.cardBox {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 416px;
    border-radius: 10px;
}

.cardBox > img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

/* DESCRICAO */
.cardBox__descricao {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    gap: 1.3rem;
}

.cardBox__descricao h2 {
    color: #1f2f56;
    font-weight: 700;
}

.cardBox__descricao p {
    line-height: 1.5em;
    color: #7280a7;
    font-weight: 600;
    font-size: 1em;
}

/* INFORMAÇÕES */
.cardBox__informacoes {
    display: flex;
    align-items: center;
    background-color:  #f5f7ff;
    padding: 1rem;
    border-radius: 10px;
}

.cardBox__informacoes img {}

.cardBox__planoAnual {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0 4rem 0 1rem;
}

.planoAnual__tituloPlano {
    color: #1f2f56;
    font-weight: 700;
}

.planoAnual__preco {
    color: #7280a7;
    font-weight: 600;
    font-size: 1em;
}

.cardBox__informacoes a {
    color: #3829e0;
    font-weight: 700;
}

.cardBox__botaoProceed {}

.cardBox__cancel {}